/* declaring variables  */
:root {
    --greyfontheader: #6a6a6a;
    --greyfontbody: #838383;
    --black: #222222;
}

/* correcting default styles*/
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

html,
body {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}


/* base styles  */
body {
    overflow-x: hidden;
    background: #fff;
}


@font-face {
    font-family: "Circular";
    src: url("assets/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2");
}

@font-face {
    font-family: "Circular-medium";
    src: url("assets/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2");
}

@font-face {
    font-family: "Circular-bold";
    src: url("assets/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2");
}

* {
    font-family: "Circular" !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width:none;
}

.round-button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
}

.red-bg {
    background-color: #ff385c;
}

/* base styles end  */


/* header start  */
.header-section{
    display: grid;
    place-items: center;
    overflow: unset;
}

header {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
}

header>div {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
}

.logo-small{
    display: none;
}

.button {
    padding: 12px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    background-color: #dddddd47;
}

.button.header {
    font-family: "Circular-medium" !important;
    color: var(--black);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.button.outline {
    column-gap: 14px;
    margin-left: 8px;
    border: 1px solid #dddddd;
    padding: 7px 8px 7px 14px;
}

.button.outline:hover {
    background-color: #fff;
    box-shadow: 0px 2px 4px #dddddd;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.icon {
    width: 16px;
    height: 16px;
}

.icon.big {
    width: 32px;
    height: 32px;
}
/* header ends  */

/* menu starts  */
.menu-small-screen{
    display: none;
}

.menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: max-content;
    z-index: 1;
    overflow: unset;
}

.menu>div:first-child {
    display: flex;
    align-items: center;
    column-gap: 11px;
    margin: 16px 0;

}

.menu>div>p {
    font-family: "Circular-medium" !important;
    color: var(--black);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.menu>div>p:first-child {
    margin: 0 10px;
}

.menu>div>.button {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.menu-bar {
    display: flex;
    border: 1px solid #dddddd;
    border-radius: 40px;
    align-items: center;
    width: 100vw;
    max-width: 850px;
    height: min-content;
    box-shadow: 0px 1px 10px #dddddd;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.menu-bar>.menu-bar-item {
    display: flex;
    flex-flow: row;
    column-gap: 24px;
    align-items: center;
    width: 100%;
}

.menu-bar-item.one {
    min-width: min-content;
    width: 100%;
    max-width: 282px;
}


.menu-bar-item.two,
.menu-bar-item.three {
    max-width: 141.5px;
}

.menu-bar>.menu-bar-item:first-child {
    padding-left: 32px;
}

.menu-bar>.menu-bar-item.one h1 {
    color: #b5b5b5;
}

.menu-bar>.menu-bar-item:not(:last-child) {
    padding-top: 14px;
    padding-bottom: 14px;
}

.menu-bar>.menu-bar-item:hover {
    border: none;
    border-radius: 30px;
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.menu-bar-item>div {
    display: flex;
    flex-flow: column;
    row-gap: 2px;
    min-width: max-content;
}

.menu-bar-item.four {
    width: 100%;
    height: 100%;
    padding: 14px 0;    
}

.menu-bar-item>div>p {
    font-family: "Circular-medium" !important;   
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--black);
}

.menu-bar-item>div>h1 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #6b6b6b;
}

.menu-bar-item:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 32px;
    background-color: #dddddd;
    transform: translateY(4%);
}

.menu-bar-item:hover::before {
    opacity: 0;
}

.menu-bar-item:hover+.menu-bar-item::before {
    opacity: 0;
    right: 0px;
}

.menu-bar-item .round-button {
    height: 48px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    position: absolute;
    right: 8px;

}

.menu-bar-item .round-button img {
    filter: invert(1);
}
/* menu ends  */

/* scrollable menu starts  */
.scrollable-menu{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    margin-top: 22px;
    background-color: white;
    z-index: 10;
    padding: 0 40px;
}

.scrollable-menu ul{
    display: flex;
    column-gap: 92px;
    align-items: center;
    flex-wrap: nowrap; 
    align-self: center;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    margin:0 40px;
    padding: 0 15px;
}

.scrollable-menu li{
    box-sizing: border-box;
    display: grid;
    place-items: center;
    column-gap: 50px;
    padding: 27px 0;
    padding-bottom: 16px;
    overflow-x: visible;
}

.scrollable-menu li div {
    border-bottom: 2px solid white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    row-gap: 8px;
}

.scrollable-menu li:first-child div{
    margin-left: 0;
    border-bottom: 2px solid black;
}

.scrollable-menu li:not(:first-child) div:hover{
    border-color: #6b6b6b67;
}

.scrollable-menu li:not(:first-child) div:hover .icon,.scrollable-menu li:not(:first-child) div:hover p{
    filter: invert(0);
    color: black;
}

.scrollable-menu li div .icon{
    height: 24px;
    width: auto;
    filter: invert(0.33);
}

.scrollable-menu li:first-child div .icon{
    filter: invert(0);
}

.scrollable-menu li div p{
    font-family: "Circular-medium" !important;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    min-width: max-content;
    color: #6b6b6b;
    margin-bottom: 12px;
}

.scrollable-menu li:first-child div p{
    color: black;
}

.arrow-right{
    width: 84px;
    height: 80px;
    align-self: center;
    display: grid;
    place-items: center;
    position: absolute;
    right: 50px;
    top: 14px;
    background-image: linear-gradient(270deg,white,white,white,white,white,transparent);
    z-index: 10;
}

.arrow-right>div{
    border: 1px solid #b7b7b7;
    width: fit-content;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 7px;
    background-color: white;
}

.arrow-right>div>img{
    width: 12px;
    height: 12px;
}

/* scrollable menu ends  */

/* bottom nav  */
.bottom-nav{
    display: none;
}
/* bottom nav ends  */

/* content starts here */
main{
    padding: 0 80px;
}

main>h1{
    margin:20px 0;
    font-family: "Circular-medium" !important;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.grid-division{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 24px;
    row-gap: 39px;
    margin-bottom: 50px;
}

.content-div {
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    row-gap: 4px;
}

main .content-div img{
    width: 100%;
    aspect-ratio: 1/.95;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 5px;
}

.content-div h1{
    font-family: "Circular-medium" !important;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: var(--black);
}

.content-div p{
    font-family: "Circular" !important;
    font-size: 15px;
    line-height: 16px;
    color: #6a6a6a;
}

.content-div h6{
    font-family: "Circular" !important;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: var(--black);
    margin-top: -1px;
}

.content-div h6>b{
    font-family: "Circular-medium" !important;
    font-size: 15px;
}

.top-buttons{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 12px;
    position: relative;
    top: 56px;
    margin-top: -56px;
}

.top-buttons>.live-button{
    background-color: rgba(255, 255, 255, 0.831);
    padding: 7px 17px 7px 16px;
    border-radius: 30px;
    font-family: "Circular-medium" !important;
    font-size: 14px;
    z-index: -1;
}

.content-div.live .top-buttons>.live-button{
    z-index: 0;
}

.top-buttons>.round-button{
    background-color: rgba(255, 255, 255, 0.831);
    display: grid;
    place-items: center;
    position: relative;
    padding: 1px;
    margin-right: 0;
}

.top-buttons>.round-button img{
    margin-top: 5px;
    height: 13.8px;
    object-fit: contain;
}
/* content ends here  */

/* footer start  */

    footer{
        background-color: #f7f7f7;
    }

    .footer-top{
        display: flex;
        flex-flow: column;
        row-gap: 32px;
        padding: 48px 389px;
        border-bottom: 1px solid #dddddd;
    }

    .footer-top>h1{
        font-family: "Circular-medium" !important;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.22px;
        font-weight: 400;
        color: var(--black);
        margin-bottom: -8px;
    }

    .footer-top > .footer-menubar{
        position: relative;
    }

    .footer-top > .footer-menubar > ul{
        display: flex;
        column-gap: 26px;
        border-bottom: 1px solid #dddddd;
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
    }

    .footer-top .footer-menubar .float-arrow{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background-color:#f7f7f7;
    }

    .footer-top .footer-menubar .float-arrow>img{
        width: 16px;
        filter: invert(0.3);
    }

    .footer-top > .footer-menubar>ul>li{
        padding-bottom: 14px;
        min-width: max-content;
    }

    .footer-top > .footer-menubar>ul>li:first-child{
        border-bottom: 2px solid var(--black);
    }

    footer .footer-menubar>ul>li,.footer-menu-content>li>h1,.footer-menu-content>li>p,.footer-bottom>.bottom-content>ul>li,.bottom-bar>ul>li{
        font-family: "Circular-medium" !important;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: normal;
        color: var(--black);
    }

    footer .footer-menubar>ul>li:not(:first-child){
        color: #6a6a6a;
    }

    .footer-menu-content{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        row-gap: 24px;      
        column-gap: 8px;
    }

    .footer-menu-content>li>p,.footer-bottom>.bottom-content>ul>li:not(:first-child),.bottom-bar>ul>li{
        font-family: "Circular" !important;
        color: #707070;
    }

    .footer-bottom>.bottom-content>ul>li:not(:first-child),.bottom-bar>ul>li{
        color: var(--black);
    }

    .footer-menu-content>li:last-child{
        display: flex;
        column-gap: 4px;
    }

    .footer-menu-content>li>img{
        height: 12px;
        display: inline;
        margin-top: 3px;
    }

    .footer-bottom{
        padding: 0 389px;
    }

    .footer-bottom>.bottom-content{
        padding: 48px 0 49px 0;
        border-bottom: 1px solid #dddddd;
        display: flex;
        column-gap: 8px;
    }

    .footer-bottom>.bottom-content>ul{
        width: 100%;
        max-width: 33.333%;
        display: flex;
        flex-flow: column;
        row-gap: 14px;
    }

    .footer-bottom>.bottom-content>ul>li:first-child{
        margin-bottom: -1px;
    }

    .footer-bottom>.bottom-bar{
        display: flex;
        justify-content: space-between;
        padding: 24px 0 25px 0;
    }

    .footer-bottom>.bottom-bar>ul{
        display: flex;
        column-gap: 19px;
        align-items: center;
    }

    .footer-bottom>.bottom-bar>ul:first-child{
        margin-bottom: -1px;
    }

    .footer-bottom>.bottom-bar>ul:last-child{
        column-gap: 24px;
    }

    .footer-bottom>.bottom-bar>ul:last-child>li{
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-family: "Circular-medium" !important;
    }

    .footer-bottom>.bottom-bar>ul:last-child>li *{
        font-family: "Circular-medium" !important;
    }

    .footer-bottom>.bottom-bar>ul:last-child>li b{
        font-family: "Circular-medium" !important;
        font-size: 16px;
        margin-right: -11px;
        margin-top: -2px;
    }

    .footer-bottom>.bottom-bar>ul img{
        height: 18px;
        aspect-ratio: 1/1;
    }

    .footer-bottom>.bottom-bar>ul .web-icon{
        height: 16px;
        margin-right: -8px;
    }
/* footer end  */

/*...................................................................................................*/
/* responsive design  */

@media screen and (max-width:1879px) {
    .grid-division{
        grid-template-columns: repeat(5,1fr);
    }

    .footer-top{
        padding: 48px 80px;
    }

    .footer-bottom{
        padding: 0 80px;
    }

    .footer-bottom .bottom-content ul{
        row-gap: 14px;
    }

}

@media screen and (max-width:1639px) {
    .grid-division{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width:1439px) {
    .scrollable-menu ul{
        width: 100%;
    }

    .scrollable-menu ul{
        margin: 0;
    }

    header,main{
        padding: 0 40px;
    }

    .arrow-right{
        right: 12px;
    }

    .footer-top{
        padding: 48px 40px;
    }

    .footer-bottom{
        padding: 0 40px;
    }
}

@media screen and (max-width:1127px) {
    .grid-division{
        grid-template-columns: repeat(3,1fr);
    }

    .footer-top,.footer-bottom{
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-top .footer-menu-content{
        grid-template-columns: repeat(3,1fr);
    }

    .hide-on-small-screen{
        display: none;
    }

    .footer-bottom .bottom-bar{
        flex-flow: column;
        align-items: center;
        padding: 40px 0;
        padding-top: 43px;
        height: 100px;
    }

    .footer-bottom>.bottom-bar>ul:last-child{
        position: relative;
        margin-top: -110px;
        background-color: #f7f7f7;
        column-gap: 24px;
    }

    .footer-bottom>.bottom-bar>ul:last-child>li:last-child{
        margin-left: 24px;
    }
    .footer-bottom>.bottom-bar>ul:last-child b{
        padding-top: 2px;
    }
    
    .footer-bottom>.bottom-bar>ul:first-child{
        margin-top: 16px;
        display: block;
        place-items: center;
        text-align: center;
        padding-bottom: 25px;
        width: 100vw;
        background-color: #f7f7f7;
    }

    .footer-bottom>.bottom-bar>ul:first-child>li:first-child{
        padding-bottom: 3px;
    }

    .footer-bottom>.bottom-bar>ul:first-child>li:not(:first-child){
        display: inline;
        margin: 0 8px;
        padding-bottom: 25px;
        background-color: #f7f7f7;
    }
}

@media screen and (max-width:949px){
    .header-section{
        width: 100%;
        place-items:unset
    }

    header{
        position: static;
        justify-content: space-between;
        margin-bottom: -16px;
    }

    .menu{
        place-self: center;
    }

    .menu>div:first-child{
        column-gap: 3px;
    }

    .logo-small{
        display: block;
    }

    .logo-with-text{
        display: none;
    }

    .scrollable-menu{
        margin-top: 30px;
    }

    .menu-bar{
        max-width: 90%;
    }

    .menu-bar-item{
        flex: 1;
        max-width: 100%;
    }

    main{
        grid-template-columns: repeat(2,1fr);
    }

    .grid-division{
        grid-template-columns: repeat(2,1fr);
    }

    .footer-top .footer-menu-content{
        grid-template-columns: repeat(2,1fr);
    }

    .footer-bottom .bottom-content{
        flex-flow: column;
        padding: 0;
    }

    .footer-bottom .bottom-content ul{
        padding-bottom: 25px;
        padding-top: 24px;
        max-width: 100%;
    }

    .footer-bottom .bottom-content ul:not(:last-child){
        border-bottom: 1px solid #dddddd;
    }

    .footer-bottom>.bottom-bar{
        padding-top: 44px;
    }

    .footer-bottom .bottom-bar ul:first-child{
        margin-top: 15px;
    }

}

@media screen and (max-width:807px){
    .footer-top .footer-menubar .float-arrow{
        display: inline-block;
    }
}

@media screen and (max-width:743px) {
    header{
        display: none;
    }

    .header-section {
        position: fixed;
        top: 1px;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 10000;
    }

    .scrollable-menu{
        position: fixed;
        top: 87px;
        left: 0;
        right: 0;
        z-index: 10000;
        border-top: none;
        border-bottom: 1px solid #ededed;
        box-shadow: 0px 2px 4px #ededed;
        margin: 0;
        padding: 0 24px;
    }

    .scrollable-menu ul{
        margin-left:0px;
        margin-right: 0;
    }

    .scrollable-menu ul li{
        padding: 0;
    }

    .scrollable-menu ul li div{
        row-gap: 4px;
    }

    .arrow-right{
        display: none;
    }

    .menu{
        display: none;
    }

    .menu-small-screen{
        display: flex;
        column-gap: 8px;
        border-radius: 30px;
        padding: 10px;
        margin: 14px 24px;
        margin-bottom: 15px;
        border: 1px solid #ebebeb;
        box-shadow: 0px 2px 10px #ebebeb;
    }

    .menu-small-screen img{
        width: 20px;
        margin: 0 10px;
        margin-top: -1px;
    }

    .menu-small-screen>div{
        display: flex;
        flex-flow: column;
        row-gap: 1px;
    }

    .menu-small-screen>div>ul{
        display: flex;
        column-gap: 1.5px;
    }

    .menu-small-screen>div>ul>li:not(:first-child){
        list-style-type: disc;
        list-style-position: inside;
        margin-left: 3px;    
    }

    .menu-small-screen>div>ul>li{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #777777;
    }

    .menu-small-screen>div>h1{
        font-family: "Circular-medium" !important;
        font-size: 14px;
        line-height: 1.25rem;
        font-weight: 400;
    }

    main{
        padding: 0 24px;
        margin-top: 168px;
    }

    footer{
        position: relative;
        margin-bottom: 10px;
    }

    .footer-top,.footer-bottom{
        padding-left: 24px;
        padding-right: 24px;
    }

    .footer-bottom .bottom-content{
        margin-bottom: 23px;
    }

    .footer-bottom .bottom-bar{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 54px;
        height: fit-content;
        width: 100vw;
        margin-bottom: 69px;
        height: 100px;
        padding: 0;
        
    }

    .footer-bottom .bottom-bar ul li{
        text-align: left;
        align-items: flex-start;
        justify-self: left;
    }

    .footer-bottom .bottom-bar ul:last-child li:last-child{
        display: none;
    }

    .hide-on-very-small-screen{
        display: none;
    }

    .footer-bottom .bottom-bar ul:first-child{
        margin-top: 22px;
        text-align: left;
        margin-left: -24px;
        padding: 0;
        padding-left: 24px;
        height: 64px;
        overflow: hidden;
    }

    .footer-bottom > .bottom-bar > ul:last-child{
        margin: 0;
    }

    .footer-bottom .bottom-bar ul:first-child li:first-child{
        margin-bottom: 5px;
    }

    .footer-bottom .bottom-bar ul:first-child li:nth-child(2){
        margin-left: 0;
    }

    .bottom-nav{
        position: fixed;
        bottom: -60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 125px;
        width: 100vw;
        border-top: 1px solid rgb(235, 235, 235);
        background-color: white;
    }

    .bottom-nav .bottom-nav-innerdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 560px !important;
        margin: 0 auto;
        height: max-content;
        margin-top: 13px;
    }

    .bottom-nav-innerdiv > div{
        height: 44px;
        width: 100%;
        max-width: 20%;
        min-width: 0;
        text-align: center;
    }

    .bottom-nav-innerdiv > div > p{
        font-family: "Circular" !important;
        font-size: 10px;
        line-height: 0.75rem;
        font-weight: 400;
        color: rgb(106, 106, 106);
        margin-top: 2px;
    }

    .bottom-nav-innerdiv > div:first-child p{
        font-family: "Circular-medium" !important;
        color: #e81948;
    }

    .bottom-nav-innerdiv>div>img{
        height: 24px;
    }
}


@media screen and (max-width:549px){

    .grid-division{
        grid-template-columns: repeat(1,1fr);
        row-gap: 40px;    
    }

    main .content-div img{
        margin-bottom: 5px;
    }

    .content-div .round-button>img{
        height: 16px;
    }

}

@media screen and (max-width:374px){
    .menu-small-screen{
        border-radius: 30px;
        padding: 10px;
        margin: 14px 16px;
        margin-bottom: 15px;
        border: 1px solid #ebebeb;
        box-shadow: 0px 2px 10px #ebebeb;
    }

    .menu-small-screen img{
        margin: 0 5px;
        margin-top: -1px;
    }
}
